    <div class="wrapper">
        <div class = "panel-main">

            <h1>Dashboard</h1>

            <body class = "content">
                Welcome. The current dataset in use is the set of living costs
                around the world (2020). Explore the options below to manipulate 
                the visualization of the data.
            </body>

            <h2>Data Manipulation</h2>
            <ul class = "options-list">
                <li>Sort Increasing</li>
                <li>Sort Decreasing</li>
                <li>Filter</li>
            </ul>

            <h2>Technologies Used</h2>
            <ul class = "tech-list">
                <li>Angular, TypeScript</li>
                <li>REST API</li>
                <li>JavaScript</li>
                <li>HTML, CSS</li>
            </ul>

            <h2>Links</h2>
            <a href = "https://github.com/JoshuaPark823/angular-data-visualization">
                Github
            </a>
        </div>
    </div>