/**
    Colour Codes:
    blue 1 1d3557
    blue 2 457b9d
    blue 3 a8dadc
*/

.panel-main {
    color: white;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1d3557;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
}